<% form_remote_tag(
    :update     => 'settingDisp',
    :url        => {:controller => 'userstructdicts', :action => 'update', :id => @userstructdict})%>
    
  <%= text_field 'userstructdict', 'structurename'  %>
  
  <%= submit_tag 'Modify' %>
  
<%end_form_tag %>