<%= error_messages_for 'userstructdict' %>

<!--[form:userstructdict]-->
<p><label for="userstructdict_structurename">Structurename</label><br/>
<%= text_field 'userstructdict', 'structurename'  %></p>
<!--[eoform:userstructdict]-->

