<% for column in Userstructdict.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @userstructdict.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @userstructdict %> |
<%= link_to 'Back', :action => 'list' %>
