<% for column in Maxdosemetric.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @maxdosemetric.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @maxdosemetric %> |
<%= link_to 'Back', :action => 'list' %>
