<% for column in Standardreporttype.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @standardreporttype.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @standardreporttype %> |
<%= link_to 'Back', :action => 'list' %>
