<% for column in Standardreports.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @standardreports.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @standardreports %> |
<%= link_to 'Back', :action => 'list' %>
