<% for column in Inplanparam.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @inplanparam.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @inplanparam %> |
<%= link_to 'Back', :action => 'list' %>
