<div id="mask" style="display: none">
</div>	
<div id="photo-wrapper" style="display: none;">
	<span id="close_mask"><%= link_to_function "#{image_tag 'icon_close.gif'}", "Photo.hide();" %></span> 

    <img id="photo" src="">
    </img>
    <div id="nav">
        <%= link_to_function "#{image_tag 'arrow_left'} Previous", "Photo.prev()" %>
        <%= link_to_function "Next #{image_tag 'arrow_right'}", "Photo.next()" %>
    </div>
</div>
