<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 11">
<link rel=File-List href="Dose%20QA%20Table_files/filelist.xml">
<style id="Dose QA Table_17741_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.font017741
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font517741
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font617741
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl1517741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl2417741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl2517741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl2617741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl2717741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl2817741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl2917741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3017741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3117741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3217741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3317741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3417741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3517741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:red;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3617741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3717741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3817741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl3917741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4017741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4117741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4217741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4317741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4417741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4517741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:green;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4617741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:green;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4717741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:red;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4817741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl4917741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:green;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl5017741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl5117741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl5217741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl5317741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl5417741
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
-->
</style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Office Excel's Publish
as Web Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="Dose QA Table_17741" align=center x:publishsource="Excel" class="planparamsdisp">

<table x:str border=0 cellpadding=0 cellspacing=0 width=947 style='border-collapse:
 collapse;table-layout:fixed;width:711pt'>
 <col width=134 style='mso-width-source:userset;mso-width-alt:4900;width:101pt'>
 <col width=57 style='mso-width-source:userset;mso-width-alt:2084;width:43pt'>
 <col width=177 style='mso-width-source:userset;mso-width-alt:6473;width:133pt'>
 <col width=75 style='mso-width-source:userset;mso-width-alt:2742;width:56pt'>
 <col width=136 style='mso-width-source:userset;mso-width-alt:4973;width:102pt'>
 <col width=77 style='mso-width-source:userset;mso-width-alt:2816;width:58pt'>
 <col class=xl3117741 width=41 style='mso-width-source:userset;mso-width-alt:
 1499;width:31pt'>
 <col width=35 style='mso-width-source:userset;mso-width-alt:1280;width:26pt'>
 <col width=59 style='mso-width-source:userset;mso-width-alt:2157;width:44pt'>
 <col width=76 style='mso-width-source:userset;mso-width-alt:2779;width:57pt'>
 <col width=80 style='mso-width-source:userset;mso-width-alt:2925;width:60pt'>
 <tr class=xl2817741 height=24 style='height:18.0pt'>
  <td height=24 class=xl2817741 colspan=5 width=579 style='height:18.0pt;
  width:435pt'>WASHINGTON UNIVERSITY IMRT DOSE QA TABLE</td>
  <td class=xl2817741 width=77 style='width:58pt'></td>
  <td class=xl3717741 width=41 style='width:31pt'></td>
  <td class=xl2817741 width=35 style='width:26pt'></td>
  <td class=xl2817741 width=59 style='width:44pt'></td>
  <td class=xl2817741 width=76 style='width:57pt'></td>
  <td class=xl2817741 width=80 style='width:60pt'></td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl2417741 colspan=4 style='height:15.75pt'>Head and Neck
  Target Volume Goals for Protocol 06-0001</td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr class=xl2517741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2517741 style='height:12.75pt'>ROI</td>
  <td class=xl2517741 x:str="Vol (cc) ">Vol (cc)<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl2517741>Goal</td>
  <td class=xl2517741>Meet Goal</td>
  <td class=xl2517741></td>
  <td class=xl2517741></td>
  <td class=xl3817741></td>
  <td class=xl2517741></td>
  <td class=xl2517741></td>
  <td class=xl2517741></td>
  <td class=xl2517741></td>
 </tr>
 <tr class=xl3017741 height=21 style='height:15.75pt'>
  <td height=21 class=xl2917741 colspan=2 style='height:15.75pt'>PTV Coverage
  Goals</td>
  <td class=xl3017741></td>
  <td class=xl2517741></td>
  <td class=xl3017741></td>
  <td class=xl3017741></td>
  <td class=xl3817741></td>
  <td class=xl3017741></td>
  <td class=xl3017741></td>
  <td class=xl3017741></td>
  <td class=xl3017741></td>
 </tr>
 <tr class=xl2617741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2617741 style='height:12.75pt'></td>
  <td class=xl3217741></td>
  <td class=xl2617741></td>
  <td class=xl3217741></td>
  <td class=xl2617741></td>
  <td class=xl2617741></td>
  <td class=xl3917741></td>
  <td class=xl2617741></td>
  <td class=xl2617741></td>
  <td class=xl2617741></td>
  <td class=xl2617741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>PTV 66</td>
  <td class=xl5017741 x:num>46</td>
  <td class=xl1517741>99% Vol &gt; 93% Rx (65.1 Gy)</td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>93% Rx=</td>
  <td class=xl5117741 x:num="0.995">99.50%</td>
  <td class=xl4017741 x:num>6243</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741>PTV 66</td>
  <td class=xl1517741>Mean Dose</td>
  <td class=xl3617741>6790 cGy</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741>20% Vol <font class="font517741">&lt;</font><font
  class="font617741"> 110% Rx (77 Gy)</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>% Vol<font class="font517741"> &gt;</font><font
  class="font017741"> 102% Rx=</font></td>
  <td class=xl5417741 x:num="0.05">5%</td>
  <td class=xl4017741 x:num>6937</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Max Dose</td>
  <td class=xl3617741>7405 cGy</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>% Vol <font class="font517741">&gt;</font><font
  class="font617741"> 110% Rx</font><font class="font017741">=</font></td>
  <td class=xl5417741 x:num="0.01">1%</td>
  <td class=xl4417741 x:num>7260</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Min Dose</td>
  <td class=xl3617741>4367 cGy</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>% Vol <font class="font517741">&gt;</font><font
  class="font017741"> 120% Rx=</font></td>
  <td class=xl5417741 x:num="0">0%</td>
  <td class=xl4117741>N/A</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>PTV 63</td>
  <td class=xl5017741 x:num>75</td>
  <td class=xl1517741>99% Vol &gt; 93% Rx (63 Gy)</td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>99% Vol=</td>
  <td class=xl5017741>99.2% Rx</td>
  <td class=xl4017741 x:num>6249</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741>PTV 63</td>
  <td class=xl1517741>Mean Dose</td>
  <td class=xl5217741 x:num>6458</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741>20% Vol <font class="font517741">&lt;</font><font
  class="font617741"> 110% Rx (63 Gy)</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>20% Vol=</td>
  <td class=xl5117741>32.4% Rx</td>
  <td class=xl4017741 x:num>6526</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Max Dose</td>
  <td class=xl5217741 x:num>6700</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>10% Vol=</td>
  <td class=xl5117741>12.5% Rx</td>
  <td class=xl4017741 x:num>6728</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Min Dose</td>
  <td class=xl5217741 x:num>3987</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>2% Vol=</td>
  <td class=xl5017741>6.5% Rx</td>
  <td class=xl4017741 x:num>7234</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl5317741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3317741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl5317741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>PTV 56</td>
  <td class=xl5017741 x:num>104</td>
  <td class=xl1517741>99% Vol &gt; 93% Rx (56 Gy)</td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>99% Vol=</td>
  <td class=xl5017741>99.9% Rx</td>
  <td class=xl4017741 x:num>6229</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741>PTV 56</td>
  <td class=xl1517741>Mean Dose</td>
  <td class=xl5217741 x:num>5678</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741>20% Vol <font class="font517741">&lt;</font><font
  class="font617741"> 110% Rx (56 Gy)</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>20% Vol=</td>
  <td class=xl5017741>34.5% Rx</td>
  <td class=xl4017741 x:num>6500</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Max Dose</td>
  <td class=xl5217741 x:num>6623</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>10% Vol=</td>
  <td class=xl5017741>13% Rx</td>
  <td class=xl4017741 x:num>6721</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Min Dose</td>
  <td class=xl5217741 x:num>3966</td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>2% Vol=</td>
  <td class=xl5017741>4.5% Rx</td>
  <td class=xl4017741 x:num>7002</td>
  <td class=xl1517741>Gy</td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr class=xl2417741 height=21 style='height:15.75pt'>
  <td height=21 class=xl2417741 colspan=3 style='height:15.75pt'>Critical
  Structure Constraints</td>
  <td class=xl4617741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
  <td class=xl4217741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Cord</td>
  <td class=xl1517741></td>
  <td class=xl1517741>0.1 cc Vol <font class="font517741">&lt;</font><font
  class="font617741"> 45 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>0.1 cc =</td>
  <td class=xl3617741>3700 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>Max =</td>
  <td class=xl3617741>3894 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Brainstem</td>
  <td class=xl1517741></td>
  <td class=xl1517741>0.1 cc Vol <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>0.1 cc =</td>
  <td class=xl3617741>5834 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741>1% <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741></td>
  <td class=xl3117741 x:str="Max = ">Max =<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl3617741>5994 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Brain</td>
  <td class=xl1517741></td>
  <td class=xl1517741>1% <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4717741>No</td>
  <td class=xl3117741>60 Gy Volume=</td>
  <td class=xl4317741 x:num="1.4999999999999999E-2">1.50%</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741>5 cc <font class="font517741">&lt;</font><font
  class="font617741"> 65 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>5 cc Max =</td>
  <td class=xl3617741>6137 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Optic Chiasm</td>
  <td class=xl1517741></td>
  <td class=xl1517741>0.1 cc Vol <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>0.1 cc =</td>
  <td class=xl3617741>210 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741>1% <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>Max =</td>
  <td class=xl3617741>253 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Left Optic Nerve</td>
  <td class=xl1517741></td>
  <td class=xl1517741>0.1 cc Vol <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>0.1 cc =</td>
  <td class=xl3617741>154 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741>1% <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741 x:str="Max = ">Max =<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl3617741>198 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Right Optic Nerve</td>
  <td class=xl1517741></td>
  <td class=xl1517741>0.1 cc Vol <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>0.1 cc =</td>
  <td class=xl3617741>128 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741>1% <font class="font517741">&lt;</font><font
  class="font617741"> 60 Gy</font></td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741 x:str="Max = ">Max =<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl3617741>190 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Left Eye</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Mean dose &lt; 45 Gy</td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>Mean dose=</td>
  <td class=xl3617741>20 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>Max dose=</td>
  <td class=xl3617741>192 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Right Eye</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Mean dose &lt; 45 Gy</td>
  <td class=xl4517741>Yes</td>
  <td class=xl3117741>Mean dose=</td>
  <td class=xl3617741>14 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741>Max dose=</td>
  <td class=xl3617741>187 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4517741></td>
  <td class=xl3117741></td>
  <td class=xl3617741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr class=xl2417741 height=21 style='height:15.75pt'>
  <td height=21 class=xl2417741 colspan=3 style='height:15.75pt'>Normal Tissue
  Constraints</td>
  <td class=xl3417741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
  <td class=xl4217741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
  <td class=xl2417741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl3217741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Right Parotid</td>
  <td class=xl2717741></td>
  <td class=xl2717741>Mean dose &lt; 26 Gy</td>
  <td class=xl4717741>No</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>5349 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl4717741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Left Parotid</td>
  <td class=xl2717741></td>
  <td class=xl2717741>Mean dose &lt; 26 Gy</td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>2126 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl4917741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Larynx</td>
  <td class=xl2717741></td>
  <td class=xl2717741>Mean dose &lt; 45 Gy</td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>4261 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl3217741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Oral Cavity</td>
  <td class=xl2717741></td>
  <td class=xl2717741>Mean dose &lt; 35 Gy</td>
  <td class=xl4717741>No</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>5580 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl3217741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Mandible</td>
  <td class=xl2717741></td>
  <td class=xl2717741>105% presc <font class="font517741">&lt;</font><font
  class="font617741"> 5% vol</font></td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>5% Volume=</td>
  <td class=xl4817741>6840 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl4917741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Right Middle Ear</td>
  <td class=xl2717741></td>
  <td class=xl2717741>Mean dose <font class="font517741">&lt;</font><font
  class="font617741"> 45 Gy</font></td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>3850 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl4917741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'>Left Middle Ear</td>
  <td class=xl2717741></td>
  <td class=xl2717741>Mean dose <font class="font517741">&lt;</font><font
  class="font617741"> 45 Gy</font></td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>1200 cGy</td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr class=xl2717741 height=17 style='height:12.75pt'>
  <td height=17 class=xl2717741 style='height:12.75pt'></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl4917741></td>
  <td class=xl3917741></td>
  <td class=xl4817741></td>
  <td class=xl3917741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
  <td class=xl2717741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Left Lens</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Mean dose &lt; 2 Gy</td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>25 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4917741></td>
  <td class=xl3917741>Max dose=</td>
  <td class=xl4817741>113 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl4917741></td>
  <td class=xl3117741></td>
  <td class=xl4817741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'>Right Lens</td>
  <td class=xl1517741></td>
  <td class=xl1517741>Mean dose &lt; 2 Gy</td>
  <td class=xl4917741>Yes</td>
  <td class=xl3917741>Mean dose=</td>
  <td class=xl4817741>24 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl3917741>Max dose=</td>
  <td class=xl4817741>100 cGy</td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3317741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl1517741 style='height:12.75pt'></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl3117741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
  <td class=xl1517741></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=134 style='width:101pt'></td>
  <td width=57 style='width:43pt'></td>
  <td width=177 style='width:133pt'></td>
  <td width=75 style='width:56pt'></td>
  <td width=136 style='width:102pt'></td>
  <td width=77 style='width:58pt'></td>
  <td width=41 style='width:31pt'></td>
  <td width=35 style='width:26pt'></td>
  <td width=59 style='width:44pt'></td>
  <td width=76 style='width:57pt'></td>
  <td width=80 style='width:60pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>

</html>
