<% for column in Processplan.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @processplan.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @processplan %> |
<%= link_to 'Back', :action => 'list' %>
