<% for column in Mindosemetric.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mindosemetric.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mindosemetric %> |
<%= link_to 'Back', :action => 'list' %>
