<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>:<%= controller.action_name %></title><%= stylesheet_link_tag 'scaffold' %><%= javascript_include_tag :defaults %><%= javascript_include_tag "sorttable", "bubble" %>
    </head>

    <body>

        <div id="banner">
            <span class="leftimg">
                <img  src= "/images/washU.PNG"/>
            </span>

            <span class="rightimg">
                <img  src= "/images/radOnc.png"/>
            </span>Web Based

            <br/>Treatment Plan Review
        </div>

        <div id="side">
            <img src="/images/login_icon_lg.gif" alt="login Icon"/>
        </div>

        <div class="main">
            <p style="color: green"><%= flash[:notice] %></p><%= yield %>
        </div>
    </body>
</html>